html,
body {
  margin: 0px;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
  z-index: 0;
}

#map-container {
  height: 100vh;
  width: auto;
  z-index: 0;
}

.mapboxgl-popup-content {
  width: 300px;
  background-color: rgba(24, 8, 94, 0.514);
  height: 200px;
  -webkit-box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.84);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  color: white;
}

.marker {
  background-color: rgb(37, 37, 37);
  backdrop-filter: blur(15px);
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 43px -15px #000000;
  box-shadow: 0px 0px 43px -15px #000000;
  padding: 8px;
  color: rgb(19, 255, 216);
  font-weight: bold;
}

#left {
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
}

#tag {
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  align-self: center;
}

#map-select {
  background-color: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(15px);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
}

#maps {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#showPlaces {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  transition: .2s all;
  width: 90%;
  display: flex;
  justify-content: center;
}

#showPlaces:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 43px -15px #000000;
  box-shadow: 0px 0px 43px -15px #000000;
  background-color: rgba(17, 0, 56, 0.466);
}
#dark {
  background-image: url("darkModeicon.PNG");
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 60px;
  border-radius: 10px;
  transition: 0.2s all;
}

#dark:hover {
  -webkit-box-shadow: 0px 0px 43px -15px #000000;
  box-shadow: 0px 0px 43px -15px #000000;
  cursor: pointer;
}

#light {
  background-image: url("lightModeIcon.PNG");
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 60px;
  border-radius: 10px;
  transition: 0.2s all;
}

#light:hover {
  -webkit-box-shadow: 0px 0px 43px -15px #000000;
  box-shadow: 0px 0px 43px -15px #000000;
  cursor: pointer;
}

#sat {
  background-image: url("satModeIcon.PNG");
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 60px;
  border-radius: 10px;
  transition: 0.2s all;
}

#sat:hover {
  -webkit-box-shadow: 0px 0px 43px -15px #000000;
  box-shadow: 0px 0px 43px -15px #000000;
  cursor: pointer;
}

input {
  cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 200px;
    height: max-content;
    -webkit-appearance: none;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(15px);
    
  }
}

  input[type="range"]::-webkit-slider-thumb {
    width: 50px;
    -webkit-appearance: none;
    height: 50px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -80px 0 0 80px #434343;
    border-radius: 100%;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}


#nav {
  z-index: 1;
  top: 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white;
}

#places {
  position: fixed;
  z-index: 1;
  bottom: 25%;
  height: 410px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(15px);
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px;
  padding: 10px;
  row-gap: 10px;
  gap: 10px;
  border-radius: 20px;
}

#place:hover {
  width: 5000px;
}

::-webkit-scrollbar {
  width: 0px;
}
 
#thePlace {
  z-index: 2;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  transition: .4s all;
}

#thePlace:hover {
  -webkit-box-shadow: 0px 0px 43px -15px #000000;
  box-shadow: 0px 0px 43px -15px #000000;
  cursor: pointer;
  height: 210px;
  width: 210px;
}