html,
body {
  margin: 0px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
  z-index: 0;
}

#map-container {
  height: 100vh;
  width: auto;
  z-index: 0;
}

.mapboxgl-popup-content {
  width: 300px;
  background-color: rgba(24, 8, 94, 0.514);
  height: 200px;
  -webkit-box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.84);
  box-shadow: 0px 0px 54px -16px rgba(0, 0, 0, 0.84);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  color: white;
}

.marker {
  background-color: rgb(111, 111, 238);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 43px -15px #000000;
  box-shadow: 0px 0px 43px -15px #000000;
}

#left {
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
}

#tag {
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  align-self: center;
}

#map-select {
  background-color: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(15px);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
}

#dark {
  background-image: url("darkModeicon.PNG");
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 60px;
  border-radius: 10px;
  transition: 0.2s all;
}

#dark:hover {
  -webkit-box-shadow: 0px 0px 43px -15px #000000;
  box-shadow: 0px 0px 43px -15px #000000;
  cursor: pointer;
}

#light {
  background-image: url("lightModeIcon.PNG");
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 60px;
  border-radius: 10px;
  transition: 0.2s all;
}

#light:hover {
  -webkit-box-shadow: 0px 0px 43px -15px #000000;
  box-shadow: 0px 0px 43px -15px #000000;
  cursor: pointer;
}

#sat {
  background-image: url("satModeIcon.PNG");
  background-repeat: no-repeat;
  min-height: 60px;
  min-width: 60px;
  border-radius: 10px;
  transition: 0.2s all;
}

#sat:hover {
  -webkit-box-shadow: 0px 0px 43px -15px #000000;
  box-shadow: 0px 0px 43px -15px #000000;
  cursor: pointer;
}

input {
  cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 200px;
    height: max-content;
    -webkit-appearance: none;
    border-radius: 22px;
    background-color: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(15px);
    
  }
}

  input[type="range"]::-webkit-slider-thumb {
    width: 50px;
    -webkit-appearance: none;
    height: 50px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -80px 0 0 80px #434343;
    border-radius: 100%;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}


#nav {
  z-index: 1;
  top: 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white;
}